@*ADD MODEL DIRECTIVE TO GET INTELLISENSE*@
@model OdeToFood.ViewModels.HomeIndexViewModel

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Razor Page Example</title>
</head>
<body>
    <h1>@Model.CurrentMessage</h1>
    <table>
        @foreach (var restaurant in Model.Restaurants)
        {
        <tr>
            <td>@restaurant.Id</td>
            <td>@restaurant.Name</td>

            @*1. VARIANT*@
            <td><a href="/home/details/@restaurant.Id">details</a></td>

            @*2. (OLD ASP.NET) VARIANT*@
            <td>@Html.ActionLink("Go", "Details", new { id = restaurant.Id })</td>

            @*3. TAGHELPER (SERVER SIDE PROCESSING)*@
            <td><a asp-action="Details" asp-route-id="@restaurant.Id">More</a></td>
        </tr>
        }

    </table>
    <a asp-action="Create">Add restaurant</a>
    @*MODEL REPRESENTS THE MODEL OBJ. PASSED INTO THE VIEW RESULT*@

    @*<h1>@this.Model.Name</h1>
    <div>The ID value is @Model.Id</div>*@
</body>
</html>